* {
  margin: 0px;
  padding: 0px;
}


h1 {
  text-align: center;
  padding: 10px;
}

.table {
  margin: auto;
}

.button {
  border-radius: 5px;
  color: #000000;
  border-color: #dddddd;
  padding: 5px;
}

.button_container {
  padding: 10px;
 text-align: center;
}